body{
    background-color: #f2f2f2;
    width: 100%!important;
}


/* Counter section */
.counter-box {
    display: block;
    background: rgb(69, 157, 192)!important;
    padding: 35px 20px 33px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500;
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #fff;
}

.counter-box p {
    font-size: 20px;
    color: #fff;
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px;
}

/* Social icons */
.social{
    position: fixed;
    
}
.facebook{
    background-color: blue;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    padding-top: 12px!important;
}
.facebook:hover{
    color: orange;
}
.twitter{
    background-color: DodgerBlue;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    padding-top: 12px!important;
}
.twitter:hover{
    color: orange;
}
.instagram{
    background-color: rgb(187, 20, 75);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    padding-top: 12px!important;
}
.instagram:hover{
    color: orange;
}
.linkedin{
    background-color: rgb(123, 123, 240);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    padding-top: 12px!important;
}
.linkedin:hover{
    color: orange;
}
.youtube{
    background-color: red;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    padding-top: 12px!important;
}
.youtube:hover{
    color: orange;
}


