body{
    background-color: #f2f2f2;
}
/* Main navigation bar */
.navbar{
    background-color: #e5dd4b!important;
    font-size: large;
    font-weight: 600;
    border-bottom: 3px solid blue;
    height: 50px!important;
    color: black!important;

}
.link1:hover{
    background-color: #e2e2e2;
    color: green;
    height: 50px;
}

/* Infomative notice section */
.bg-red{
    background-color: red;
    height: 24px;
    font-size: 13px;
    font-weight: normal;
    
}

/* Top navigation bar */
.top-nav{
    height: 100px;
    background-color: blue;   
}

/* 
.all{
    height: 30px;
    width: auto;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    
}
.search{
    margin-left: 1100px;
} */


.active{
    background-color: blue;
    color: #fff!important;
    height: 50px;
}
.active:hover{
    opacity: 0.8;
}

/* about us section */

/* Top image section */
.adj-margin{
    
}

.add-border{
    
    background-color: white!important;
    border-radius: 3px;
}

.html{
    background-color: #e9e9e9;
    
}

.remove-underline a{
    text-decoration: none;
}
.remove-underline a:hover{
    text-decoration: underline;
}